<div class="features_items"><!--features_items-->
	<h2 class="title text-center">Sản phẩm</h2>
	{{#each data_table}}
	<div class="col-sm-4">
		<div class="product-image-wrapper">
			<div class="single-products">
					<div class="productinfo text-center">
						<img src="images/books/{{hinhanh}}" width="150" height="150" alt="" />
						<h2>{{dongia}}</h2>
						<p>{{tensach}}</p>
						<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>
					</div>
					<div class="product-overlay">
						<div class="overlay-content">
							<h2>{{dongia}}</h2>
							<p>{{tensach}}</p>
							<a href="/detailsproduct/{{_id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>
						</div>
					</div>
			</div>
			<div class="choose">
				<ul class="nav nav-pills nav-justified">
					<li><a href="#"><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a></li>
					<!-- <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li> -->
				</ul>
			</div>
		</div>
	</div>
	{{/each}}
	
</div><!--features_items-->
	
